a { color: #B79733; }
a:hover { color: #7C6723; }

.js-header {
  margin-bottom: 40px;
  font-size: 20px;
  position: relative;
  padding: 100px 0;
  color: #E3D9BF;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: #998354;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#7C683D),to(#997B54));
  background-image: -webkit-linear-gradient(top,#7C683D 0,#997B54 100%);
  background-image: -o-linear-gradient(top,#7C683D 0,#997B54 100%);
  background-image: linear-gradient(to bottom,#7C683D 0,#997B54 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7C683D', endColorstr='#997B54', GradientType=0);
  background-repeat: repeat-x;
}
.js-header h2{
	font-size: 60px;
	line-height: 1;
  margin-top: 0;
  color: #fff;
}
