<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; {{site.title}} {{ 'now' | date: '%Y' }}</div></div>
            <div class="col-auto">
                <a class="link-light small" href="/privacy">Privacy</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="/terms">Terms</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="/contact">Contact</a>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<!-- adsense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2844580524120145"
     crossorigin="anonymous"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>