<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            {% include nav.html %}
            <!-- Header-->
            <header class="py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3">{{page.header.title}}</h1>
                                <p class="lead fw-normal text-muted mb-4">{{ page.header.paragraph }}</p>
                                <!-- <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About section one-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="{{page.sections.first.image}}" alt="{{page.sections.first.title}}" /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">{{page.sections.first.title}}</h2>
                            <p class="lead fw-normal text-muted mb-0">{{page.sections.first.paragraph}}</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="{{page.sections.second.image}}" alt="{{page.sections.second.title}}" /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">{{page.sections.second.title}}</h2>
                            <p class="lead fw-normal text-muted mb-0">{{page.sections.second.paragraph}}</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Team members section-->
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="fw-bolder">Our team</h2>
                        <p class="lead fw-normal text-muted mb-5">Dedicated to quality and your success</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <div 
                                    class="img-fluid rounded-circle mb-4 px-4 staff-thumb d-inline-block" 
                                    style="background-image: url({{page.team.first.image}})" 
                                    title="{{page.team.first.name}}" />
                                </div>
                                <h5 class="fw-bolder">{{page.team.first.name}}</h5>
                                <div class="fst-italic text-muted">{{page.team.first.role}}</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <div 
                                    class="img-fluid rounded-circle mb-4 px-4 staff-thumb d-inline-block" 
                                    style="background-image: url({{page.team.second.image}})" 
                                    title="{{page.team.second.name}}" />
                                </div>
                                <h5 class="fw-bolder">{{page.team.second.name}}</h5>
                                <div class="fst-italic text-muted">{{page.team.second.role}}</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <div 
                                    class="img-fluid rounded-circle mb-4 px-4 staff-thumb d-inline-block" 
                                    style="background-image: url({{page.team.third.image}})" 
                                    title="{{page.team.third.name}}" />
                                </div>
                                <h5 class="fw-bolder">{{page.team.third.name}}</h5>
                                <div class="fst-italic text-muted">{{page.team.third.role}}</div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <div 
                                    class="img-fluid rounded-circle mb-4 px-4 staff-thumb d-inline-block" 
                                    style="background-image: url({{page.team.fourth.image}})" 
                                    title="{{page.team.fourth.name}}" />
                                </div>
                                <h5 class="fw-bolder">{{page.team.fourth.name}}</h5>
                                <div class="fst-italic text-muted">{{page.team.fourth.role}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        {% include footer.html %}
    </body>
</html>
