<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            {% include nav.html %}
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5">
                    <h1 class="fw-bolder fs-5 mb-4">{{page.title}}</h1>
                    <div class="card border-0 shadow rounded-3 overflow-hidden">
                        <div class="card-body p-0">
                            <div class="row gx-0">
                                {% for post in site.posts limit: 1 %}
                                <div class="col-lg-6 col-xl-5 py-lg-5">
                                    <div class="p-4 p-md-5">
                                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{post.categories}}</div>
                                        <div class="h2 fw-bolder">{{post.title}}</div>
                                        <p>{{post.snippet}}</p>
                                        <a class="stretched-link text-decoration-none" href="{{post.url}}">
                                            Read more
                                            <i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-7"><div class="bg-featured-blog" style="background-image: url({{post.image}})"></div></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-5 bg-light">
                <div class="container px-5">
                    <div class="row gx-5">
                        <div class="col-xl-8">
                            <h2 class="fw-bolder fs-5 mb-4">News</h2>
                            {% assign posts = site.posts | where: "categories", "News" | limit:5 %}
                            {% for post in posts %}
                            <!-- News item-->
                            <div class="mb-4">
                                <div class="small text-muted">{{post.date}}</div>
                                <a class="link-dark" href="{{post.url}}"><h3>{{post.title}}</h3></a>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col-xl-4">
                            <div class="card border-0 h-100">
                                <div class="card-body p-4">
                                    <div class="d-flex h-100 align-items-center justify-content-center">
                                        <div class="text-center">
                                            <div class="h6 fw-bolder">Contact</div>
                                            <p class="text-muted mb-4">
                                                For press inquiries, email us at
                                                <br />
                                                <a href="mailto: {{site.email}}">{{site.email}}</a>
                                            </p>
                                            {% include social.html %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5">
                    <h2 class="fw-bolder fs-5 mb-4">Featured Stories</h2>
                    <div class="row gx-5">                 
                        {% for post in paginator.posts %}
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{{post.image}}" alt="{{post.title}}" />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{post.categories}}</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="{{post.url}}"><h5 class="card-title mb-3">{{post.title}}</h5></a>
                                    <p class="card-text mb-0">{{post.snippet}}</p>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-3" src="/assets/images/dyerdevemblem.png" alt="DyerDev Emblem" width="50"/>
                                            <div class="small">
                                                <div class="fw-bold">{{post.author}}</div>
                                                <div class="text-muted">{{post.date}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% if paginator.total_pages > 1 %}
                        <div class="text-end mb-5 mb-xl-0">
                        {% if paginator.previous_page %}
                            <a href="{{ paginator.previous_page_path | relative_url }}" class="btn btn-primary float-start"><i class="bi bi-arrow-left"></i> Prev</a>
                        {% endif %}

                        {% if paginator.next_page %}
                            <a href="{{ paginator.next_page_path | relative_url }}" class="btn btn-primary float-end">Next <i class="bi bi-arrow-right"></i></a>
                        {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    
                </div>
            </section>
        </main>
        {% include footer.html %}
    </body>
</html>
