<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            {% include nav.html %}
            <!-- Pricing section-->
            <section class="bg-light py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">{{page.header.title}}</h1>
                        <p class="lead fw-normal text-muted mb-0">{{page.header.paragraph}}</p>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <!-- Pricing card free-->
                        <div class="col-lg-6 col-xl-4">
                            <div class="card mb-5 mb-xl-0">
                                <div class="card-body p-5">
                                    <div class="small text-uppercase fw-bold text-muted">{{page.tier.one.title}}</div>
                                    <div class="mb-3">
                                        <span class="display-4 fw-bold">${{page.tier.one.price}}</span>
                                        <span class="text-muted">/ mo.</span>
                                    </div>
                                    <ul class="list-unstyled mb-4">
                                        {% for item in page.tier.one.included %}
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            {% if forloop.first %}
                                            <strong>{{item}}</strong>
                                            {% else %}
                                            {{item}}
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                        {% for item in page.tier.one.excluded %}
                                        <li class="mb-2 text-muted">
                                            <i class="bi bi-x"></i>
                                            {{item}}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Choose plan</a></div>
                                </div>
                            </div>
                        </div>
                        <!-- Pricing card pro-->
                        <div class="col-lg-6 col-xl-4">
                            <div class="card mb-5 mb-xl-0">
                                <div class="card-body p-5">
                                    <div class="small text-uppercase fw-bold">
                                        <i class="bi bi-star-fill text-warning"></i>
                                        {{page.tier.two.title}}
                                    </div>
                                    <div class="mb-3">
                                        <span class="display-4 fw-bold">${{page.tier.two.price}}</span>
                                        <span class="text-muted">/ mo.</span>
                                    </div>
                                    <ul class="list-unstyled mb-4">
                                        {% for item in page.tier.two.included %}
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            {% if forloop.first %}
                                            <strong>{{item}}</strong>
                                            {% else %}
                                            {{item}}
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                        {% for item in page.tier.two.excluded %}
                                        <li class="mb-2 text-muted">
                                            <i class="bi bi-x"></i>
                                            {{item}}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="d-grid"><a class="btn btn-primary" href="#!">Choose plan</a></div>
                                </div>
                            </div>
                        </div>
                        <!-- Pricing card enterprise-->
                        <div class="col-lg-6 col-xl-4">
                            <div class="card">
                                <div class="card-body p-5">
                                    <div class="small text-uppercase fw-bold text-muted">{{page.tier.three.title}}</div>
                                    <div class="mb-3">
                                        <span class="display-4 fw-bold">${{page.tier.three.price}}</span>
                                        <span class="text-muted">/ mo.</span>
                                    </div>
                                    <ul class="list-unstyled mb-4">
                                        {% for item in page.tier.three.included %}
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            {% if forloop.first %}
                                            <strong>{{item}}</strong>
                                            {% else %}
                                            {{item}}
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                        {% for item in page.tier.three.excluded %}
                                        <li class="mb-2 text-muted">
                                            <i class="bi bi-x"></i>
                                            {{item}}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Choose plan</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        {% include footer.html %}
    </body>
</html>
